<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<%== meta_data_tags %>
<%== stylesheet_tags %>
<%= csrf_meta_tag %>
<%= stylesheet_link_tag 'site','nivo-slider','960','text','style','pascal','orman','ie','default'%>
<%= javascript_include_tag 'jquery-1.4.2.min','jquery.nivo.slider','jquery-1.6.1.min','jquery.nivo.slider.pack', 'jquery.validate.min.js','site.js', 'rails', 'application', :cache => 'jquery-core-site' %>
<% unless I18n.locale.to_s[0..1] == 'en' %>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end %>
<%= yield :head %>